@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: RickAndMorty;
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
    src: url('../public/rickandmorty.ttf') format('truetype');
  }
}
